@charset "UTF-8";
:root {
  --body-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --display-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size: calc(1rem + 0.15vw);
  --font-size-lead: calc(1.5rem + 0.15vw);
  --font-size-large: calc(2.5rem + 0.1vw);
  --font-size-small: calc(0.9rem + 0.1vw);
  --font-size-h1: calc(2rem + 0.2vw);
  --font-size-h2: calc(1.8rem + 0.2vw);
  --font-size-h3: calc(1.5rem + 0.2vw);
  --font-size-h4: calc(1.3rem + 0.2vw);
  --font-size-h5: calc(1.2rem + 0.2vw);
  --font-weight-light: 100;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-heavy: 900;
  --font-weight-heavy: var(--font-weight-bold);
  --line-height: 1.5;
  --line-height-headings: 1.2;
  --color-grey-dark: #6a6a6a;
  --color-grey: #ddd;
  --color-grey-light: #efefef;
  --color-primary: #FF001C;
  --color-secondary: #FECFCF;
  --color-tertiary: #F3EEE1;
  --color-quaternary: #000000;
  --color-text-base: #000;
  --color-text-dark: #181822;
  --color-text-reversed: #fff;
  --color-text-link: #0087D0;
  --color-text-hover: #003451;
  --color-facebook: #3B5998;
  --color-twitter: #1DA1F2;
  --color-instagram: #262626;
  --color-youtube: #cc181e;
  --color-linkedin: #0077B5;
  --body-background-color: var(--color-tertiary);
  --border-radius: 16px;
  --spacing-xxl: 3em;
  --spacing-xl: 2em;
  --spacing-l: 1.5em;
  --spacing: 1em;
  --spacing-s: 25px;
  --spacing-xs: 0.25em;
  --container-width: 75rem;
  --container-width-l: 100rem;
  --content-width: 50rem;
}
@media (min-width: 70em) {
  :root {
    --font-size-h1: calc(3.2rem + 0.2vw);
    --font-size-h2: calc(2rem + 0.2vw);
    --font-size-h3: calc(1.6rem + 0.2vw);
    --font-size-h4: calc(1.4rem + 0.2vw);
    --font-size-h5: calc(1.2rem + 0.2vw);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html, body {
  height: 100%;
}

/* Set core body defaults */
html,
body {
  font-family: var(--body-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-rendering: optimizeSpeed;
  color: var(--color-text-base);
  background-color: var(--body-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly */
img[class*=align],
img[class*=wp-image-] {
  height: auto;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
p {
  margin-bottom: var(--spacing-l);
}
p:last-of-type {
  margin-bottom: 0;
}

p.lead {
  font-size: var(--font-size-lead);
}

p.large {
  font-size: var(--font-size-large);
}

ul,
ol {
  list-style: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1em;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

li p {
  margin: 0;
}

blockquote {
  padding-left: 1em;
  border-left: 4px solid var(--color-text-dark);
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-hover);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: var(--line-height-headings);
  font-weight: var(--font-weight-bold);
  color: var(--heading-color);
}

h1, .heading-1 {
  font-size: var(--font-size-h1);
}

h2, .heading-2 {
  font-size: var(--font-size-h2);
}

h3, .heading-3 {
  font-size: var(--font-size-h3);
}

h4, .heading-4 {
  font-size: var(--font-size-h4);
}

h5, .heading-5 {
  font-size: var(--font-size-h5);
}

code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.75em;
  font-style: normal;
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

pre {
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.5rem;
  overflow: auto;
  width: calc(96vw - 2em);
  line-height: 1.3;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.banner-space {
  position: absolute;
  z-index: 1;
  flex-direction: column;
  align-items: flex-start;
}
.banner-space--details {
  margin-top: auto;
  color: white;
  padding-left: 1rem;
  max-width: 550px;
}
.banner-space--details p {
  color: white;
}
.banner-space--details + .banner--content {
  margin-top: 0;
}
.banner-space p {
  margin-bottom: 0;
}

.single .banner-space .banner--content {
  margin-top: auto;
}

.banner--content {
  margin-top: auto;
  height: auto;
  overflow: hidden;
}
.banner--content h1, .banner--content h2, .banner--content h3, .banner--content h4, .banner--content p {
  line-height: 100%;
  text-transform: uppercase;
  color: white;
}

.fade {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.fade--visible {
  opacity: 1;
  transition: opacity 2s ease-out;
}

.animate {
  transform: translateY(-100%);
  transition: transform 0.25s ease-out;
}

.animate--visible {
  transform: translateY(0);
  transition: transform 0.25s ease-out;
  transition-delay: 1s;
}

.carousel {
  height: 100vh;
}
.carousel-inner {
  background: red;
}
.carousel-slider {
  height: 100%;
}
.carousel-slider .slick-list, .carousel-slider .slick-track, .carousel-slider .slick-slide {
  height: 100vh !important;
}
.carousel-slider .slick-slide {
  max-height: 100vh !important;
}
.carousel-slider-item {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.carousel-slider-item--content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 5rem;
  height: auto;
  overflow: hidden;
}

.image {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
}
.image p {
  font-size: var(--font-size-large);
  color: white;
}

.space-images--content {
  margin-top: auto;
  height: auto;
  overflow: hidden;
}
.space-images--content h1, .space-images--content h2, .space-images--content h3, .space-images--content h4, .space-images--content p {
  line-height: 100%;
  text-transform: uppercase;
  color: white;
}

.text-block {
  display: flex;
}
.text-block--text {
  flex: 100%;
  width: 50%;
}
.text-block--text__sticky {
  position: sticky;
  top: 0;
}
.text-block--image {
  flex: 100%;
  width: 50%;
}
.text-block--image .slick-track,
.text-block--image .slick-list {
  height: 100%;
}
.text-block--image .slick-slide {
  max-height: none;
}
.text-block--image .slick-slide div {
  height: 100%;
}
.text-block--image .slick-slide div img {
  height: 100%;
}

.global-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container, .main {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: var(--container-width);
}

.main {
  max-width: var(--content-width);
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-l);
  flex: 1;
}

.bkg--red {
  background-color: var(--color-primary);
}
.bkg--pink {
  background-color: var(--color-secondary);
}
.bkg--yellow {
  background-color: var(--color-tertiary);
}
.bkg--white {
  background-color: white;
}

.content > * {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
}
.content h2,
.content h3,
.content h4,
.content h5 {
  margin-top: var(--spacing-l);
  margin-bottom: 0;
}
.content a {
  color: var(--link-color);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--link-hover-color);
          text-decoration-color: var(--link-hover-color);
}
.content a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
.content blockquote {
  max-width: none;
  font-size: var(--font-size-h3);
  line-height: 1.4;
  margin: var(--spacing-l) 0;
}
.content figure {
  max-width: none;
  margin: var(--spacing-xl) 0;
}
.content figcaption {
  padding: 1em 0;
  font-size: var(--font-size-xs);
  color: var(--color-text-dark);
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid var(--color-grey-light);
}
.content ul {
  margin-top: 1.5em;
  padding: 0;
}
.content li {
  position: relative;
  padding-left: 1.2rem;
  margin-bottom: 0.3em;
}
.content li p {
  display: inline;
}
.content li:before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.7rem;
  line-height: 1;
  font-weight: bold;
  margin-right: 0.6em;
  color: var(--color-text-dark);
}

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.icon--small {
  width: 13px;
  height: 13px;
}

.icon--medium {
  width: 26px;
  height: 26px;
}

.icon--large {
  width: 32px;
  height: 32px;
}

.icon--xlarge {
  width: 40px;
  height: 40px;
}

.icon--scale {
  width: 0.75em;
  height: 0.75em;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.icon--offset {
  margin-right: 5px;
}

.btn {
  display: inline-block;
  border-radius: var(--border-radius);
  padding: 0 3rem;
  border: 1px solid var(--color-grey);
  color: var(--color-text-dark);
  height: 40px;
  line-height: 40px;
  font-family: var(--display-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.btn:hover, .btn:focus {
  border-color: var(--color-grey-dark);
  outline: 0;
  color: var(--color-grey-dark);
  text-decoration: none;
  position: relative;
  top: -1px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.btn--primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-text-reversed);
}
.btn--primary:hover, .btn--primary:focus {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links__item {
  margin: 0 1rem;
}

.social-links__link {
  color: white;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  position: relative;
  height: 100%;
  min-height: 1px;
  max-height: 732px;
  overflow: hidden;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 0px;
  font-size: 0px;
  margin-top: 2px;
  cursor: pointer;
  background-color: black;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  border: none;
  outline: none;
  z-index: 9;
  transition: 0.2s background-color ease-in-out;
}
@media (min-width: 50em) {
  .slick-prev,
.slick-next {
    height: 60px;
    width: 60px;
  }
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background-color: var(--color-tertiary);
  color: transparent;
  transition: 0.2s background-color ease-in-out;
}
.slick-prev:before,
.slick-next:before {
  top: 50%;
  transform: translate(0, -8px);
  color: white;
  width: 20px;
  height: 20px;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 2rem;
  padding: 0 1rem 0 2rem;
}
.slick-prev:before {
  position: absolute;
  right: 1rem;
  transition: 0.2s all ease-in-out;
  content: url("../../src/icons/arrow-white-left.svg");
}
[dir=rtl] .slick-prev:before {
  content: url("../../src/icons/arrow-white-left.svg");
}
.slick-prev:hover:before {
  transition: 0.2s all ease-in-out;
}

.slick-next {
  right: 2rem;
  padding: 0 2rem 0 1rem;
}
.slick-next:before {
  position: absolute;
  transition: 0.2s all ease-in-out;
  content: url("../../src/icons/arrow-white.svg");
}
[dir=rtl] .slick-next:before {
  content: url("../../src/icons/arrow-white.svg");
}
.slick-next:hover:before {
  transition: 0.2s all ease-in-out;
}

.slick-dots {
  position: absolute;
  bottom: 15px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
@media (min-width: 50em) {
  .slick-dots {
    bottom: 35px;
  }
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  border-radius: 40px;
  background: white;
  display: block;
  height: 16px;
  width: 16px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  opacity: 0.5;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
  background: white;
  opacity: 1;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 0.5;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  background: transparent;
  opacity: 0.5;
}
.slick-dots li.slick-active button {
  opacity: 1;
  background: var(--color-secondary);
}
.slick-dots li.slick-active button:before {
  background: white;
  opacity: 1;
  height: 10px;
  width: 12px;
}
