// Setup
@import "settings";
@import "utilities/mq";
@import "utilities/mixins";
@import "variables";

// Base
@import "base/base";
@import "base/typography";

// Components
@import "components/accordion";
@import "components/banner";
@import "components/carousel";
@import "components/cta";
@import "components/featured-journal";
@import "components/featured-space";
@import "components/image-block";
@import "components/location-images";
@import "components/image";
@import "components/logos";
@import "components/manifesto";
@import "components/membership";
@import "components/space-description";
@import "components/space";
@import "components/share";
@import "components/space-cta";
@import "components/text-block";
@import "components/layout";
@import "components/content";
@import "components/icons";
@import "components/buttons";
@import "components/social-links";
@import "components/slick-slider";


.fade {
	opacity: 1;
}
.animate {
	transform: translateY(0);
}

.banner--content,
.fit-content {
	p {
		font-size: 100px;
	}
}

.carousel-slider-item {
	background-attachment: inherit;
}
.location-images--slider {
	display: flex;
}
.location-images--slider-item {
	width: 20%;
	margin-top: auto;
}

.wp-block {
margin-top: 0;
margin-bottom: 0;
}