// =============================================================================
// Helper classes
// =============================================================================

.u-bold { font-weight: bold!important; }
.u-semibold { font-weight: 600!important; }
.u-regular { font-weight: normal!important; }
.u-light { font-weight: 300!important; }
.u-italic { font-style: italic!important; }
.u-caps { text-transform: uppercase!important; }
.u-left-align { text-align: left!important; }
.u-center { text-align: center!important; }
.u-right-align { text-align: right!important; }

// Margins
.mt-xxl { margin-top: var(--spacing-xxl)!important; }
.mt-xl { margin-top: var(--spacing-xl)!important; }
.mt-l { margin-top: var(--spacing-l)!important; }
.mt { margin-top: var(--spacing)!important; }
.mt-s { margin-top: var(--spacing-s)!important; }

.mb-xxl { margin-bottom: var(--spacing-xxl)!important; }
.mb-xl { margin-bottom: var(--spacing-xl)!important; }
.mb-l { margin-bottom: var(--spacing-l)!important; }
.mb { margin-bottom: var(--spacing)!important; }
.mb-s { margin-bottom: var(--spacing-s)!important; }

// WordPress specifc
img.alignright      { float: right; margin: 0 0 1em 1em; }
img.alignleft       { float: left; margin: 0 1em 1em 0; }
img.aligncenter     { display: block; margin-left: auto; margin-right: auto; }
.alignright         { float: right; }
.alignleft          { float: left; }
.aligncenter        { display: block; margin-left: auto; margin-right: auto; }

// Screen reader
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

// debugging
@if $debug == true {
    * {
        box-shadow: inset 0 0 0 1px red;
    }
}

// .fade {
// 	opacity: 0;
// 	transition: opacity 2s ease-out;
// }
// .fade--visible {
// 	opacity: 1;
// 	transition: opacity 2s ease-out;
// }
.animate {
	transform: translateY(-100%);
	transition: transform .25s ease-out;
}
.animate--visible {
	transform: translateY(0);
	transition: transform .25s ease-out;
	// animation: slide-up .25s cubic-bezier(0.65, 0, 0.35, 1) both;
	transition-delay: 1s;
}

.animate-up {
	transform: translateX(-40px);
	opacity: 0;
	transition: all .25s ease-out;
}
.animate-up--visible {
	transform: translateX(0);
	opacity: 1;
	transition: all .25s ease-out;
	transition-delay: 0.5s;
}
.arrow {
	transform: translate(-40px, -50%);
	opacity: 0;
	transition: all .25s ease-out;
}
.arrow--visible {
	transform: translate(0, -50%);
	opacity: 1;
	transition: all .25s ease-out;
	transition-delay: 0.5s;
}

.reveal {
	opacity: 0;
	transition: all .25s ease-out;
	transform: translateY(200px);
}

.text-reveal {
	opacity: 1;
	transition: all .25s ease-out;
	transform: translateY(0px);
}

.hide {
	opacity: 0;
	transition: all .25s ease-out;
}

.keyline {
	border-top: 1px solid black;
	.text-block--text {
		margin-top: var(--spacing-xs);
	}
}