.ask {
	background-color: var(--color-primary);
	width: 100px;
	height: 100px;
	padding: 1rem 1rem 1rem 0.7rem;
	border-radius: 100px;
	position: fixed;
	bottom: var(--spacing-s);
	right: var(--spacing-s);
	z-index: 99;
	display: flex;
	justify-content: center;
	transition: all .1s ease-in-out;

	&:hover {
		transform: scale(1.1, 1.1);
		cursor: pointer;
		transition: all .1s ease-in-out;
		padding: 0.8rem 0.8rem 0.8rem 0.5rem;
	}
}