

.ask {
	background-color: var(--color-primary);
	width: 100px;
	height: 100px;
	padding: 1rem 1rem 1rem 0.7rem;
	border-radius: 100px;
	position: fixed;
	bottom: var(--spacing-s);
	right: var(--spacing-s);
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .1s ease-in-out;

	&:before {
		content: '';
		z-index: -1;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: var(--color-primary);
		top: 0;
		left: 0;
		border-radius: 100px;
		animation: pulse 1.2s infinite;
		@-webkit-keyframes pulse {
			0%{
				transform:scale(1);
				opacity: 1;
				// border: 2px solid var(--color-primary);
			}
			100%{
				transform:scale(1.2);
				opacity: 0;
			}
			// 100%{
			// 	transform:scale(1.2);
			// 	opacity: 0;
			// }
		}
	}
	img {
		width: 48px;
		height: 62px;
	}

	&:hover {
		width: 110px;
		height: 110px;
		margin: 5px -5px -5px 0;
		cursor: pointer;
		transition: all .1s ease-in-out;
		// padding: 0.8rem 0.8rem 0.8rem 0.5rem;
		background-color: black;
	}
}

.Nav_talkToUs__2xpbj .Nav_itemText__2SXiz:hover{background-color:#dcfa14}.Nav_isLight__3dnqw .Nav_itemText__2SXiz{color:#fff}.Nav_isLight__3dnqw .Nav_itemText__2SXiz:hover{background-color:rgba(0,0,0,.25)}.Nav_isLight__3dnqw .Nav_isActive__2vhzG .Nav_itemText__2SXiz:before{background-color:#fff}.Nav_isLight__3dnqw .Nav_talkToUs__2xpbj .Nav_itemText__2SXiz{color:#000}.Nav_isLight__3dnqw .Nav_talkToUs__2xpbj .Nav_itemText__2SXiz:hover{background-color:#dcfa14;}.Nav_isVentures__2JyI4 .Nav_itemText__2SXiz{color:red}.Nav_isVentures__2JyI4 .Nav_isActive__2vhzG .Nav_itemText__2SXiz:before{background-color:red}