.banner {
	// background-color: var(--color-secondary);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	z-index: 2;
	// position: sticky;
	// top: 0;

	&-text--outer {
		height: 200vh;
		.banner {
			position: sticky;
			top: 0;
		}
	}

	&--logo {
		z-index: 9;
		max-width: 60%;
		margin: 0 auto;
		opacity: 1;
		transition: all .25s ease-out;
		transition-delay: 0.5s;
	}
	&--text-overlay {
		position: absolute;
		top: 0;
		height: 100vh;
		z-index: 999;
		color: var(--color-primary);
		font-size: calc(1rem + 4vw);
		line-height: 110%;
		transform: translateY(200px);
		opacity: 0;
		transition: all .25s ease-out;
		padding: 1rem;

		&__reveal {
			opacity: 0;
		}
		&__show {
			transform: translateY(0px);
			opacity: 1;
			transition: all .25s ease-out;
			background-color: rgba(0, 0, 0, 0.2);
			+ .banner--content {
				opacity: 0;
			}

			// &:before {
			// 	content: '';
			// 	width: 100%;
			// 	height: 100%;
			// 	top: 0;
			// 	left: 0;
			// 	position: absolute;
			// 	background-color: rgba(0, 0, 0, 0.2);
			// 	transition: all 2s ease-out;
			// 	transition-delay: 2s;
			// }

		}
	}

	&--overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.2);
	}
	// &--text-overlay {
	// 	background: rgba(0, 0, 0, 0.2);
	// 	height: 200vh;
	// 	position: sticky;
	// 	top: 0;
	// }

	&--link {
		margin-top: auto;
		width: 100%;
		margin-right: 200px;
		position: relative;
		width: calc(100% - 200px);
		padding-left: 1rem;

		&__inner {
			height: auto;
			overflow: hidden;
			// overflow-y: hidden;
			// overflow-x: unset;
			z-index: 2;
			width: 100%;
			position: relative;
			h1, h2, h3, h4, p {
				line-height: 100%;
				text-transform: uppercase;
				color: white;
			}
		}

		&__arrow {
			position: absolute;
			width: 150px;
			right: -175px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;
		}
		&:hover {
			.banner--link__arrow {
				right: -165px;
				transition-delay: 0s !important;
			}
		}
	}

	&--content {
		margin-top: auto;
		height: auto;
		overflow: hidden;
		z-index: 2;
		opacity: 1;
		transition: all .25s ease-out;
		h1, h2, h3, h4, p {
			line-height: 100%;
			text-transform: uppercase;
			color: white;
		}

		// &__link {
		// 	// position: relative;
		// 	padding-right: 200px;
		// 	&:after {
		// 		position: absolute;
		// 		content: url("../../src/icons/arrow-large.svg");
		// 		width: 150px;
		// 		height: 15px;
		// 		right: 0;
		// 		top: 0;
		// 		background: red;
		// 	}
		// }
	}

	&--video {
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		background-size: cover;
		background-position: center;
		video {
			min-width: 100%;
			min-height: 100%;
			max-width: none;
			position: absolute !important;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&-space {
		position: absolute;
		z-index: 3;
		flex-direction: column;
		// align-items: flex-start;
		p {
			margin-bottom: 0;
		}
		&--details {
			margin-top: auto;
			margin-bottom: 1rem;
			color: white;
			padding-left: 1.9rem;
			width: 100%;
			padding-right: 60%;
			// max-width: 550px;
			.btn {
				margin-top: 1rem;
			}
			p {
				color: white;
			}
			.lead {
				margin-bottom: 1rem;
			}
			+ .banner--content {
				margin-top: 0 !important;
			}
		}
		// .banner--content {
		// 	margin-top: 0;
		// }
	}
	&-journal {
		position: relative;
		z-index: 3;
		flex-direction: column;
		// align-items: flex-start;
		p {
			margin-bottom: 0;
		}
		&--details {
			margin-top: auto;
			margin-bottom: 1rem;
			color: white;
			padding-left: 1.9rem;
			width: 100%;
			padding-right: 60%;
			z-index: 9;
			// max-width: 550px;
			.btn {
				margin-top: 1rem;
			}
			p {
				color: white;
			}
			.lead {
				margin: 1rem 0;
			}
			+ .banner--content {
				margin-top: 0 !important;
			}
		}
		// .banner--content {
		// 	margin-top: 0;
		// }
		.banner--link {
			margin-top: 0;
		}
	}
}
.single {
	.banner-space {
		.banner--content {
			margin-top: auto;
		}
	}
}