.banner {
	// background-color: var(--color-secondary);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.banner--content {
	margin-top: auto;
	height: auto;
	overflow: hidden;
	h1, h2, h3, h4, p {
		line-height: 100%;
		text-transform: uppercase;
		color: white;
	}
	// > div {
	// 	overflow: hidden;
	// 	> p {
	// 		width: max-content;
	// 		white-space: nowrap;
	// 		margin: 0;
	// 		line-height: 100%;
	// 		text-transform: uppercase;
	// 	}
	// }
}

// If multiple p
// @for $i from 2 through 3 {
// 	div.banner--content {
// 		> div {
// 			animation-delay: 2s;
// 			&:nth-child(#{$i})
// 			> p {
// 				animation-delay: $i * 0.11s;
// 			}

// 		}
// 	}
// }

.animate {
	transform: translateY(-100%);
	transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}
.animate--visible {
	transform: translateY(0);
	transition: opacity .3s ease-in-out, transform .3s ease-in-out;
	animation: slide-up 2s cubic-bezier(0.65, 0, 0.35, 1) both;
	animation-delay: 1s;
}
@keyframes slide-up {
	0% {
		transform: translateY(-400px);
	}
	100% {
		transform: translateY(0);
	}
}