.carousel {
    height: 100vh;
	&-inner {
		background: red;
	}
	&-slider {
		height: 100%;
		.slick-list, .slick-track, .slick-slide {
			height: 100vh !important;
		}
		.slick-slide {
			max-height: 100vh !important;
		}

		&-item {
			display: flex !important;
			align-items: center;
			justify-content: center;
			height: 100vh;
			width: 100%;
			background-size: cover;
			background-position: center center;
			background-attachment: fixed;

			&--content {
				display: flex;
				align-items: center;
				justify-content: center;
				// height: 100vh;
				width: 100%;
				color: white;
				font-size: 5rem;

				height: auto;
				overflow: hidden;
			}
			// img {
			// 	display: inline-block;
			// 	position: absolute;
			// 	top: 50%;
			// 	left: 50%;
			// 	transform: translate(-50%, -50%);
			// 	max-width: none;
			// 	@include mq($until: medium) {
			// 		height: 100%;
			// 	}
			// 	@include mq(medium) {
			// 		min-width: 100%;
			// 		min-height: 100%;
			// 	}
			// }
		}
	}
}
