.global-footer {
	margin-top: auto;
	text-align: center;
	background-color: white;
	padding: var(--spacing);
}

.global-footer__inner {
	@extend .container;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.global-footer p {
	color: var(--color-text-base);
	margin: 0;
	font-size: var(--font-size-small);
}
