.global-footer {
	margin-top: auto;
	background-color: white;
	padding: var(--spacing-s);
	display: flex;
	flex-direction: column;
	z-index: 5;
	@include mq(medium) {
		flex-direction: row;
	}

	// position: sticky;
	// bottom: 0;
	// left: 0;
	// width: 100%;

	&--logo {
		width: 25%;
		display: flex;
		margin-bottom: 2rem;
		@include mq(medium) {
			margin-bottom: 0;
		}
		img {
			width: 200px;
			margin-top: auto;
		}
	}
	&--content {
		width: 100%;
		display: flex;
		flex-direction: column;
		@include mq(medium) {
			width: 75%;
		}

		a {
			color: var(--color-text-base);
			text-decoration: none;
			&:hover {
				color: var(--color-text-base);
				text-decoration: underline;
			}
		}
		.btn {
			color: white;
			margin-top: 1rem;
			&:hover {
				color: white;
				text-decoration: none;
			}
			
		}
		&__links {
			display: flex;
			justify-content: space-between;

			ul {
				list-style-type: none;
				padding-left: 0;
				margin-top: 0;
			}
		}
		&__contact {
			width: 50%;
			@include mq(medium) {
				width: 50%;
				padding-right: 130px;
			}
			p {
				margin-bottom: 0;
			}
		}
		&__foot {
			display: flex;
			flex-direction: column;
			margin-top: auto;
			justify-content: space-between;
			padding-top: var(--spacing);
			font-size: 16px;
			@include mq(medium) {
				flex-direction: row;
				padding-top: var(--spacing-l);
			}
		}
		&__copy {
			margin-top: auto;
			span {
				margin: 0 1rem;
			}
		}
		&__website {
			margin-top: auto;
		}
	}
}