.global-footer {
	margin-top: auto;
	background-color: white;
	padding: var(--spacing-s);
	display: flex;
	z-index: 99;

	&--logo {
		width: 25%;
		display: flex;
		img {
			width: 200px;
			margin-top: auto;
		}
	}
	&--content {
		width: 75%;
		display: flex;
		flex-direction: column;

		a {
			color: var(--color-text-base);
			text-decoration: none;
			&:hover {
				color: var(--color-text-base);
				text-decoration: underline;
			}
		}
		.btn {
			color: white;
			margin-top: 1rem;
			&:hover {
				color: white;
				text-decoration: none;
			}
			
		}
		&__links {
			display: flex;
			justify-content: space-between;

			ul {
				list-style-type: none;
				padding-left: 0;
				margin-top: 0;
			}
		}
		&__contact {
			width: 50%;
			// margin-left: auto;
			p {
				margin-bottom: 0;
			}
		}
		&__foot {
			display: flex;
			margin-top: auto;
			justify-content: space-between;
			padding-top: var(--spacing-l);
			font-size: 16px;
		}
		&__copy {
			margin-top: auto;
		}
		&__website {
			margin-top: auto;
		}
	}
}