.global-header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	background-color: white;
	z-index: 999;
}

.global-header__inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
}

.global-header__logo {
	font-size: 2rem;
	margin: 0;
	width: 40px;
}

.global-header__nav {
	display: none;
	@include mq(medium) {
		display: flex;
	}
}
.global-header__menu {
	display: flex;
	margin-left: auto;
	z-index: 999;
	// width: 50px;
    // height: 50px;
	top: 10px;
	right: 10px;
	position: fixed;
}

.global-header__nav ul {
	display: flex;
}

.global-header__nav li {
	margin-left: 1rem;
	display: flex;
	align-items: center;
	a {
		color: white;
		font-weight: var(--font-weight-bold);
		margin: 0 0.5rem;
	}
}

.global-header__menu-btn {
	cursor: pointer;
	overflow: visible;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	background-color: var(--color-primary);
	border: 0;
	outline: none;
	display: flex;
    align-items: center;
	justify-content: center;
	z-index: z-scale(btn);
	z-index: 998;
	transition: all .1s ease-in-out;

	@include mq(medium) {
		width: 50px;
		height: 50px;
	}

	&:hover {
		width: 50px;
		height: 50px;
		margin: -5px -5px 0 0;
		// background-color: black;

		@include mq(medium) {
			width: 60px;
			height: 60px;
		}
	}
	// &:focus {
	// 	background-color: var(--color-primary);
	// }
}

.menu-active {
	overflow: hidden;
}
.global-header--nav__mobile.is-toggled {
	transform: translateX(-100%);
	transition: all 0.2s ease-in-out;
	// background: $body-background-color;
	&:focus {
		background-color: var(--color-primary);
	}
}
.global-header--nav-btn.is-toggled {
	transition: .3s background-color ease-in-out;
}
/*
* SVG animation
*/
.global-header--nav-btn.is-toggled .global-header--nav-inner,
.global-header--nav-btn.is-toggled .global-header--nav-inner::before,
.global-header--nav-btn.is-toggled .global-header--nav-inner::after {
	background-color: white;
}


.global-header--nav {
	&-logo {
		width: 18px;
		height: 22px;
		@include mq(medium) {
			width: 22px;
			height: 28px;
		}
	}
	&-close {
		display: none;
		width: 18px;
		height: 22px;
		z-index: 9999;
		margin-top: 4px;
		@include mq(medium) {
			width: 22px;
			height: 28px;
		}
		svg {
			z-index: 9999;
		}
	}
}
.global-header--nav-box {
	width: 40px;
    height: 34px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

.global-header--nav-inner {
	display: block;	
	// transform: translateY(-9px);
	// top: 0;

	span {
		visibility: hidden;
		position: absolute;
		display: none;
		transform: translateY(-9px);
	}
}
.global-header--nav-inner,
.global-header--nav-inner::before,
.global-header--nav-inner::after {
	width: 18px;
	height: 2px;
	background-color: white;
	border-radius: 4px;
	position: absolute;
	transition-property: opacity;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.global-header--nav-inner::before,
.global-header--nav-inner::after {
	content: "";
	display: block;
	transform: rotate(90deg);
}
.global-header--nav-inner::before {
	top: 10px;
	left: -10px;
}
.global-header--nav-inner::after {
	top: 10px;
	right: -10px;
}

.global-header--nav-inner {
	transition-duration: .3s;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.global-header--nav-inner::before,
.global-header--nav-inner::after {
	transition-duration: 0s;
	transition-delay: 0s;
	transition-timing-function: linear;
	width: 22px;
}
.global-header--nav-inner::before {
	transition-property: top, opacity;
}
.global-header--nav-inner::after {
	transition-property: bottom, transform;
}
.is-toggled {
	.global-header--nav-logo {
		display: none;
	}
	.global-header--nav-close {
		display: block;
	}
}
.is-toggled .global-header--nav-inner {
	transform: rotate(765deg);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.is-toggled .global-header--nav-inner::before, .is-toggled .global-header--nav-inner::after {
	transition-delay: 0s;
}
.is-toggled .global-header--nav-inner::before {
	top: 0;
	opacity: 0;
}
.is-toggled .global-header--nav-inner::after {
	bottom: 0;
	transform: rotate(90deg);
}
.is-toggled {
	background-color: black;
	border: 0;

	.global-header--nav-box {
		width: 40px;
		height: 34px;
		display: flex;
		position: relative;
	}

	.global-header--nav-inner {
		display: block;
		top: 50%;
		margin-top: -2px;
		span {
			visibility: hidden;
			position: absolute;
			display: none;
		}
	}
	.global-header--nav-inner::before,
	.global-header--nav-inner::after {
		content: "";
		display: block;
	}
	.global-header--nav-inner::before {
		top: -9px;
		left: 0;
	}
	.global-header--nav-inner::after {
		top: 0;
		right: 0;
	}

	.global-header--nav-inner,
	.global-header--nav-inner::before,
	.global-header--nav-inner::after {
		width: 30px;
		height: 2px;
		background-color: white;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
	}
}