.image {
	min-height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-size: cover;
	background-position: center center;

	p {
		font-size: var(--font-size-large);
		color: white;
	}
}