.image-block {
	display: flex;
	flex-direction: column;
	padding-bottom: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	@include mq(medium) {
		flex-direction: row;
		padding-bottom: var(--spacing);
		padding-left: 200px;
		padding-right: 40px;
	}
	&--text {
		width: 100%;
		padding: var(--spacing) 0;
		padding-top: 0;
		padding-bottom: 0;
		@include mq(medium) {
			width: 40%;
			padding: var(--spacing);
			position: sticky;
			top: 0;
		}
		&__sticky {
			@include mq(medium) {
				position: sticky;
				top: var(--spacing);
				padding-bottom: var(--spacing);
			}
		}
	}
	&--images {
		width: 100%;
		display: flex;
		align-items: flex-start;
		margin-left: auto;
		flex-direction: column;
		@include mq(medium) {
			width: 60%;
			flex-direction: row;
		}
		&-item {
			margin: 0 0 1rem 0;
			width: 100%;
			@include mq(medium) {
				margin: 0 12.5px;
				width: 50%;
				position: sticky;
				top: 0;
			}
			&:first-child {
				margin-left: 0;
				img {
					margin-left: auto;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}