.journals {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: var(--spacing-l) calc(var(--spacing) - 12.5px);

	&-item {
		width: calc(100% / 4 );
		padding: 0 12.5px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: auto;
		margin-bottom: var(--spacing);

		img {
			margin-bottom: var(--spacing-s);
		}

		p {
			margin-bottom: var(--spacing-s);
		}

		&--title {
			min-height: 139px;
		}
	}
}

.journal {
	&--header {
		padding: var(--spacing-xl) 0;
		&__cat {
			margin-bottom: 1rem;
		}
		&__share {
			margin-top: var(--spacing);
			font-size: var(--font-size-small);
			border-top: 1px solid black;
			padding-top: 0.5rem;
			padding-right: 8rem;
			p {
				font-size: var(--font-size-small);
			}
		}
		h1 {
			font-size: 50px;
			line-height: 1;
			margin-bottom: 1rem;
		}
		&__inner {
			padding: 0 var(--spacing) !important;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&--image {
		margin-top: -75px;
		margin-bottom: var(--spacing);
		width: 110%;
		margin-left: -5%;
	}
}