.journals {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: var(--spacing) 0.5rem 1rem 0.5rem;
	@include mq(medium) {
		padding: var(--spacing-l) calc(var(--spacing) - 12.5px) var(--spacing) calc(var(--spacing) - 12.5px);
	}
	.journals {
		padding: 0;
	}
	&-title {
		font-size: 50px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2rem;
		@include mq(medium) {
			margin-bottom: 4rem;
		}
	}

	&-item {
		width: calc(100% / 2 );
		padding: 0 0.5rem;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1rem;
		@include mq(medium) {
			padding: 0 12.5px;
			// margin-top: auto;
			width: calc(100% / 4 );
			margin-bottom: var(--spacing);
		}

		img {
			margin-bottom: 1rem;
			@include mq(medium) {
				margin-bottom: var(--spacing-s);
			}
		}

		p {
			margin-bottom: 1rem;
			@include mq(medium) {
				margin-bottom: var(--spacing-s);
			}
		}

		&--title {
			min-height: 139px;
			.btn {
				margin-bottom: 1rem;
			}
		}
	}
}

.journal {
	&--header {
		padding: 2rem 0 1.6rem 0;
		@include mq(medium) {
			padding: var(--spacing-xl) 0;
		}
		&__cat {
			margin-bottom: 1rem;
		}
		&__share {
			margin-top: 2rem;
			font-size: var(--font-size-small);
			border-top: 1px solid black;
			padding-top: 0.5rem;
			width: 100%;
			// padding-right: 8rem;
			@include mq(medium) {
				margin-top: var(--spacing);
				padding-right: 8rem;
			}
			p {
				font-size: var(--font-size-small);
			}
		}
		h1 {
			font-size: 30px;
			line-height: 1.15;
			margin-bottom: 1rem;
			padding-right: 2rem;
			@include mq(medium) {
				padding-right: 0;
				font-size: 50px;
			}
		}
		&__inner {
			padding: 0 1rem !important;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			@include mq(medium) {
				padding: 0 var(--spacing) !important;
			}
		}
	}
	&--image {
		margin-bottom: 2rem;
		padding-top: 1rem;
		@include mq(medium) {
			padding-top: 0;
			width: 110%;
			margin-left: -5%;
			transform: translateY(-75px);
		}

		+ .content {
			@include mq(medium) {
				transform: translateY(-75px);
			}
		}
	}
}