// =============================================================================
// Site
// =============================================================================

.global-container {
	display: flex;
	position: relative;
	flex-direction: column;
	min-height: 100%;
	max-width: 1800px;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: var(--container-width);
}

.container--small {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: var(--container-width-s);
}

.main {
	@extend .container;
	max-width: var(--content-width);
	margin-top: var(--spacing-l);
	margin-bottom: var(--spacing-l);
	flex: 1;
	min-height: 100vh;
	// z-index: 1;
}

.bkg {
	&--red {
		background-color: var(--color-primary);
	}
	&--pink {
		background-color: var(--color-secondary);
	}
	&--yellow {
		background-color: var(--color-tertiary);
	}
	&--white {
		background-color: white;
	}
}

.grad {
	background: rgb(254,207,207);
	background: linear-gradient(90deg, var(--color-secondary) 0%, var(--color-tertiary) 100%);
}

.color-red {
	color: var(--color-primary);
}
.color-white {
	color: white;
}