.manifesto {
	background-color: white;
	width: 100%;
	padding: var(--spacing-l) 0;
	&-inner {
		border-left: 1px solid #C7C7C7;
		padding-left: 1rem;
		&--content {
			width: 50%;
			padding-right: 120px;
			margin-bottom: var(--spacing);
			p {
				font-size: var(--font-size-small);
			}
		}
	}

	&-item {
		display: flex;
		align-items: flex-start;
		position: relative;
		margin-bottom: 2rem;
		&--number {
			position: absolute;
			left: -6rem;
		}
		&--content {
			width: 50%;
			padding-right: 120px;
			position: sticky;
			top: 0;
			p {
				font-size: var(--font-size-small);
			}
		}
		&--image {
			width: 50%;
			// position: absolute;
			// top: 0;
			// right: 0;
		}
	}

}