.share {
	margin-top: 3rem;
	padding-top: 0.5rem;
	border-top: 1px solid var(--color-text-base);
	width: 50%;
}
.addthis_inline_share_toolbox {
	margin-top: 0.5rem;
	margin-left: -0.5rem;
	.at-share-btn {
		background-color: transparent !important;
		margin: 0 !important;
		// padding: 0 !important;
		&:hover {
			transform: translateY(0) !important;
			svg {
				fill: var(--color-primary) !important;
			}
		}
	}
}