.space {
	&-images {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // height: 100vh;
        // width: 100%;
        .banner--content {

        }
        &--content {
            margin-top: auto;
            height: auto;
            overflow: hidden;
            h1, h2, h3, h4, p {
                line-height: 100%;
                text-transform: uppercase;
                color: white;
            }
        }
    }
}