.space-cta {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: var(--spacing) 2rem;
	background-size: cover;
	background-repeat: none;
	@include mq(medium) {
		background-attachment: fixed;
		padding: var(--spacing) 0;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}
	&--content {
		z-index: 1;
		h2, h3, h4, p {
			color: white;
		}
		p {
			max-width: 500px;
			margin: 0 auto;
			&:last-of-type {
				margin-bottom: 1rem;
			}
		}
		// .btn {
		// 	margin-top: 1rem;
		// 	@include mq(medium) {
		// 		margin-top: 2rem;
		// 	}
		// }
	}
}