.space-description {
	display: flex;
	flex-direction: column;
	@include mq(medium) {
		flex-direction: row;
	}
	&-item {
		width: 100%;
		padding: 1rem;
		padding-bottom: 0;
		@include mq(medium) {
			width: 50%;
			padding: var(--spacing);
			padding-right: var(--spacing-l);
		}

		.lead {
			// margin-bottom: 0;
		}
		.share {
			// padding: 0;
			padding: 0.5rem 0 1.6rem 0;
			@include mq(medium) {
				padding: 0.5rem 0 0 0;
			}
			p {
				font-size: var(--font-size-small);
			}
		}
	}
	&--left {
		ul {
			margin-top: 0;
			margin-bottom: 1.4rem;
			li {
				font-size: var(--font-size-small);
			}
		}
	}
}