.text-block {
	display: flex;
	position: relative;
	padding-bottom: var(--spacing);
	.bkg--red {
		margin-bottom: 0;
	}
	hr {
		// position: absolute;
		// width: 100%;
		// top: 0;
		// left: 0;
		+ h3, h4, p {
			margin-top: var(--spacing-xs);
		}
	}
	&--text {
		padding-left: var(--spacing);
		padding-right: var(--spacing);
		&__sticky {
			position: sticky;
			top: var(--spacing);
			// padding-bottom: var(--spacing);
			hr {
				border-top: 1px solid var(--color-primary) !important;
			}
		}
		h2, h3, h4 {
			span {
				color: var(--color-primary);
			}
		}
		&__half {
			// margin: 0 var(--spacing);
			.text-block--text {
				width: 50%;
			}
			.text-block--text__content{
				// width: 50%;
				padding: var(--spacing);
				p {
					padding-right: 50%;
				}
			}
		}
		&-inner {
			padding: 55px var(--spacing);
			padding-bottom: var(--spacing-s);
			.text-block--text__content{
				padding: 0;
			}
		}
		&__full {
			// margin: 0 var(--spacing);
			// padding: var(--spacing);
			// padding-bottom: 0;
			width: 100%;
			// margin: 0 var(--spacing);
			padding: 0;
			.text-block--text__half {
				width: 50%;
			}
			.text-block--text__content{
				// padding: var(--spacing);
			}
		}
	}
	&--has-image {
		margin-right: 0 !important;
		border-top: none !important;
		// + .text-block {
		// 	padding-top: var(--spacing) !important;
		// }
	}
	&--images {
		// flex: 100%;
		width: 50%;
		// height: 50vw;
		max-height: 600px;
		overflow: hidden;
		.slick-track,
		.slick-list {
			// max-height: 100%;
			// height: 100%;
		}
		.slick-slide {
			// max-height: none;
			// height: 50vw;
			div {
				// height: 100%;
				img {
					// height: 100%;
					display: block !important;
				}
			}
		}
		&__left {
			// margin-left: 0 !important;
			.text-block--text {
				order: 1;
				// margin-left: var(--spacing);
			}
			.text-block--image {
				order: 0;
			}
		}
	}
	&--image {
		// flex: 100%;
		width: 70%;
		max-height: 600px;
		overflow: hidden;
		// height: 50vw;

		img {
			width: 100%;
		}
		// .slick-track,
		// .slick-list {
		// 	height: 100%;
		// }
		// .slick-slide {
		// 	max-height: none;
		// 	div {
		// 		height: 100%;
		// 		img {
		// 			height: 100%;
		// 		}
		// 	}
		// }
		&__left {
			// margin-left: 0 !important;
			.text-block--text {
				order: 1;
				// margin-left: var(--spacing);
			}
			.text-block--image {
				order: 0;
			}
		}
	}
}
.keyline.text-block--has-image {
	.text-block--text {
		&__sticky {
			hr {
				border-top: 1px solid var(--color-primary) !important;
			}
			padding-top: var(--spacing-xs);

		}
		margin-top: 0;
		padding-right: 0;
		margin-right: var(--spacing);
		// padding-top: var(--spacing-s);

		width: calc(50% - var(--spacing));
	}
}

.text-block.bkg--red {
	margin-bottom: 0;
}

.carousel {
	+ .text-block {
		// padding-top: var(--spacing);
	}
} 

.intro-block {
	.text-block--text-inner {
		padding: var(--spacing) var(--spacing-l);
	}
	p {
		font-size: var(--font-size-lead);
	}
}